    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    min-height: 100vh;

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    color: white;

    background:
        radial-gradient(
            circle at top left,
                #EA9AB355,
            transparent 35%
        ),
        radial-gradient(
            circle at bottom right,
             #EA9AB355,
            transparent 35%
        ),
        linear-gradient(
               135deg,
            #E4E2D3,
            #E4E2D3,
          
            #33735782
           
        );
}


/* =========================
   GAME CONTAINER
========================= */

.game {
    width: 100%;
    max-width: 1050px;

    padding: 25px 30px;

      background: rgba(255, 255, 255, 0.45);

      border: 1px solid rgba(51, 115, 88, 0.18);

    border-radius: 30px;

    backdrop-filter: blur(20px);

    box-shadow:
            0 30px 80px rgba(51, 115, 88, 0.20);

    text-align: center;
}


/* =========================
   TITLE
========================= */

.game-label {
    display: inline-block;

    padding: 6px 15px;

    margin-bottom: 8px;

    border-radius: 50px;

    background: rgba(234,154,179,0.1);

    border: 1px solid rgba(234,154,179,0.2);

    color: #E27296;

    font-size: 11px;

    font-weight: bold;

    letter-spacing: 2px;
}


h1 {
    font-size: 42px;

    margin-bottom: 7px;

    background:
        linear-gradient(
            90deg,
              90deg,
            #337358,
            #6E9F70,
            #E27296
        );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
       color: #337358;

    font-size: 14px;

    margin-bottom: 18px;
}

